<p><a href="/juegos"><- Atras</a></p>
<form action="/juegos/crear" method="post">
	<p>Titulo: <input type="text" name="titulo" required></p>
	<p>Año: <input type="text" name="any" required></p>
	<p>Plataforma: <input type="text" name="plataforma" required></p>
	<input type="submit" value="Añadir">
</form>
