
<style>
	ul a{
		margin: 0 5px;
	}
</style>
<a href="/juegos/crear">Añadir</a>
<% if (typeof juegos !== 'undefined') { %>
	<ul>
	  <% juegos.forEach(function(juego){ %>
	  	<li>
	    <a href="/juegos/ver/<%= juego._id %>"><%= juego.titulo %></a>
	    </li>
	  <% }); %>
	</ul>
<% } %>